<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="actor">

	<select id="sequence" resultType="int">
		select actor_seq.nextval from dual
	</select>

	<select id="findAll" resultType="ActorDto">
		select * from actor order by actor_no desc
	</select>

	<select id="findListByActorName" resultType="ActorDto">
		select * from actor
		where instr(actor_name, #{actorName}) > 0
		order by actor_name desc
	</select>
	
	<select id="findByActorNo" resultType="ActorDto">
		select * from actor 
		where actor_no = #{actorNo}
	</select>

	<insert id="save">
		insert into actor(actor_no, actor_name) 
		values(#{actorNo},#{actorName})
	</insert>

	<delete id="deleteByActorNo">
		delete from actor where actor_no = #{actorNo}
	</delete>

	<update id="edit">
		update actor
		set 
		actor_name = #{dto.actorName}
		where actor_no = #{actorNo}
	</update>

	<update id="editUnit">
		update actor
		<set>
			<if test="dto.actorNo > 0">
				actor_no = #{dto.actorNo},
			</if>
			<if test="dto.actorName != null">
				actor_name = #{dto.actorName}
			</if>
		</set>
		where actor_no = #{actorNo}
	</update>
	
	<insert id="connectActorImage">
		insert into actor_image(actor_no,image_no) 
		values(#{actorNo},#{imageNo})
	</insert>
	
	<select id="findActorImage" resultType="ImageDto">
		select * from image where image_no=(
			select image_no from actor_image
			where actor_no=#{actorNo})
	</select>
	
	<select id="actorList" resultType="ActorViewVO">
		select * from actor_view
	</select>
	
	<select id="count" resultType="int">
		select count(*) from actor_view
	</select>
	
	<select id="searchCount" resultType="int">
		select count(*) from actor 
		WHERE INSTR(LOWER(actor_name), LOWER(#{actorName})) > 0
	</select>
	
	<select id="actorListByPage" resultType="ActorViewVO">
		select * from (
			select rownum rn, TMP.* from (
				select * from actor_view order by actor_name asc
			)TMP
		) where rn between #{begin} and #{end}
	</select>
	
	<select id="adminSearchListByPage" resultType="ActorDto">
		select * from (
			select rownum rn, TMP.* from (
				SELECT * 
		    	FROM actor
		    	<where>
		    	<if test="actorName != null">
		    		INSTR(LOWER(actor_name), LOWER(#{actorName})) > 0
		    	</if>
		    	</where>
		    	order by actor_name asc 
			)TMP
		) where rn between #{begin} and #{end}
	</select>
	
<!-- 	<select id="adminSearch" parameterType="String" resultType="ActorDto"> -->
<!-- 		SELECT *  -->
<!--     	FROM actor -->
<!--     	WHERE INSTR(LOWER(actor_name), LOWER(#{actorName})) > 0 -->
<!-- 	</select> -->

	<select id="findImageNoByActorName" resultType="int">
		select image_no from actor_image where actor_no in
		(select actor_no from actor where actor_name like '%' || #{actorName} || '%')
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from actor
	</select>
	
</mapper>