<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="genre">
	
	<select id="sequence" resultType="int">
		select genre_seq.nextval from dual
	</select>
	
	<insert id="add">
		insert into genre(genre_no, genre_name) values(#{genreNo}, #{genreName})
	</insert>
	
	<delete id="delete">
		delete genre where genre_no = #{genreNo}
	</delete>
	
	<select id="findAll" resultType="GenreDto">
		select * from genre order by genre_name
	</select>
	
	<select id="findByGenreNo" resultType="GenreDto">
		select * from genre where genre_no = #{genreNo}
	</select>
	
	<update id="edit">
		update genre set 
		<if test="genreDto.genreNo > 0">
			genre_no = #{genreDto.genreNo}, 
		</if>
		genre_name = #{genreDto.genreName}
		where genre_no = #{genreNo}
	</update>
	
	<update id="editUnit">
		update genre
		<set>
			<if test="genreDto.genreNo > 0">genre_no = #{genreDto.genreNo},</if>
			<if test="genreDto.genreName != null">genre_name = #{genreDto.genreName},</if>
		</set>
		where genre_no = #{genreNo}
	</update>
	
</mapper>