<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="movieWish">

	<select id="sequence" resultType="int">
		select movie_wish_seq.nextval from dual
	</select>
	
	<select id="findAll" resultType="movieWishDto">
		select * from movie_wish order by wish_no desc
	</select>
	
	<select id="findByWishNo" resultType="movieWishDto">
		select * from movie_wish where wish_no = #{wishNo}
	</select>
	
	<insert id="add">
		insert into movie_wish(wish_no, movie_no, member_id, wish_date) 
		values(#{wishNo}, #{movieNo}, #{memberId}, #{wishDate})
	</insert>
	
	<delete id="delete">
		delete movie_wish where wish_no = #{wishNo}
	</delete>
	
</mapper>