<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recommend">

	<select id="mvcTop10" resultType="MVCTop10RecommendVO">
		select * from
		mvc_top_10_recommend
	</select>

	<select id="mvcCriticTop10"
		resultType="MVCCriticTop10RecommendVO">
		select * from mvc_critic_top_10_recommend
	</select>

	<select id="preferGenreByMember"
		resultType="PreferGenreByMemberRecommendVO">
		select distinct * from prefer_genre_by_member_recommend
		where member_nickname = #{memberNickname}
	</select>

	<select id="ageGroup" resultType="AgeGroupRecommendVO">
		select * from
		age_group_recommend
		where age_group = TRUNC((EXTRACT(YEAR FROM SYSDATE)
		- EXTRACT(YEAR FROM TO_DATE(#{memberBirth}, 'YYYY-MM-DD'))) / 10) * 10
	</select>

	<select id="gender" resultType="GenderRecommendVO">
		select * from gender_recommend
		where member_gender = #{memberGender}
	</select>

	<select id="ageGroupGender"
		resultType="AgeGroupGenderRecommendVO">
		select * from age_group_gender_recommend
		where member_gender
		= #{memberGender}
		and AGE_group = TRUNC((EXTRACT(YEAR FROM SYSDATE) -
		EXTRACT(YEAR FROM TO_DATE(#{memberBirth}, 'YYYY-MM-DD'))) / 10) * 10
	</select>

	<select id="wishMovie" resultType="WishMovieRecommendVO">
		select * from
		wish_movie_recommend where member_id = #{memberId}
	</select>

	<select id="again" resultType="RatingDto">
		select * from rating where
		member_id = #{memberId} and rating_score >= 3.0
	</select>

	<select id="today" resultType="TodayMovieListVO">
		select * from today_movie_list
		where rating_avg >= 2.5 and rating_count >= 10
	</select>

	<delete id="deleteRandom">
		delete from today_recommend
	</delete>

	<insert id="saveRandom">
		insert into today_recommend(movie_no, movie_name,
		movie_release_date,
		movie_nation, rating_avg, image_no, rating_count)
		values(#{movieNo}, #{movieName},
		#{movieReleaseDate}, #{movieNation},
		#{ratingAvg}, #{imageNo}, #{ratingCount})
	</insert>

	<select id="findAllList" resultType="TodayRecommendDto">
		select * from
		today_recommend
	</select>

	<select id="spring" resultType="int">
		SELECT DISTINCT movie_no FROM
		MOVIE_GENRE
		WHERE GENRE_NAME = '음악'
		OR GENRE_NAME = '드라마'
		OR GENRE_NAME =
		'로맨스'
		OR GENRE_NAME = '코미디'
		OR GENRE_NAME = '애니메이션'
	</select>

	<select id="summer" resultType="int">
		SELECT DISTINCT MOVIE_NO FROM
		MOVIE_GENRE
		WHERE GENRE_NAME = '공포'
		OR GENRE_NAME = '스릴러'
		OR GENRE_NAME =
		'코미디'
		OR GENRE_NAME = '액션'
		OR GENRE_NAME = '스포츠'
		OR genre_name = '애니메이션'
	</select>


	<select id="fall" resultType="int">
		SELECT DISTINCT MOVIE_NO FROM
		MOVIE_GENRE
		WHERE GENRE_NAME = '추리'
		OR GENRE_NAME = '미스터리'
		OR GENRE_NAME
		= '범죄'
		OR GENRE_NAME = '전쟁'
		OR GENRE_NAME = 'SF'
		OR GENRE_NAME = '모험'
	</select>


	<select id="winter" resultType="int">
		SELECT DISTINCT MOVIE_NO FROM MOVIE_GENRE
		WHERE GENRE_NAME = '코미디'
		OR GENRE_NAME = '판타지'
		OR GENRE_NAME = '다큐멘터리'
		OR GENRE_NAME = '사극'
		OR GENRE_NAME = 'SF'
	</select>

</mapper>