<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="reviewLike">

	<!-- 등록 -->
	<insert id="save">
		insert into review_like (
			review_no, member_nickname
		) 
		values (
			#{reviewNo}, #{memberNickname}
		)
	</insert>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from review_like
			where review_no = #{reviewNo}
				and member_nickname = #{memberNickname}
	</delete>
	

	<!-- 좋아요 체크 여부 -->
	<select id="findReviewLike" resultType="String">
		SELECT nvl2(rlike.member_nickname, 'Y', 'N') AS REVIEW_LIKE
		FROM review_list rlist
		LEFT OUTER JOIN (
    		SELECT review_no, MEMBER_NICKNAME, count(*) FROM review_like
    		WHERE member_nickname = #{memberNickname}
    		GROUP BY review_no, MEMBER_NICKNAME
		) rlike ON rlist.REVIEW_NO = rlike.REVIEW_NO
		WHERE rlist.REVIEW_NO = #{reviewNo} AND (rlike.MEMBER_NICKNAME = #{memberNickname} OR rlike.MEMBER_NICKNAME IS NULL)
	</select>

	
	
</mapper>