<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="search">
	
	<insert id="savePopular">
		insert into 
		search_history(search_history_no, search_history_keyword) 
		values(search_history_seq.nextval, #{keyword})
	</insert>
	
	<select id="showPopular" resultType="SearchHistoryDto">
		SELECT count(search_history_keyword) AS search_history_keyword_count, search_history_keyword
		FROM SEARCH_HISTORY GROUP BY search_history_keyword ORDER BY search_history_keyword_count desc
		fetch first 5 rows only
	</select>

	
</mapper>